@page "/"

<PageTitle>Index</PageTitle>
<link rel="stylesheet" href="css/index.styles.css" />

<div class="content">
    <section class="main-title-sect">
        <div class="img-div text-center mb-3">
            <img class="coin-img" src="img/dollar-coin.png" />
            <h1 class="main-title fst-italic text-white h1 mb-2">Empower Your Finances, Simplified and Secure.</h1>
        </div>
    </section>
    <section class="featured-tips-sect">
        <h2 class="h2 text-white fw-bold mt-4">Featured financial tips</h2>
        <div class="tips-div">
            <div class="tip-item">
                <h3 class="h3 text-dark fst-italic fw-bold pt-3 px-3 pb-1">Featured tip 1</h3>
                <p class="tip-text px-3">Lorem ipsum von den bal of pe hu</p>
            </div>
            <div class="tip-item">
                <h3 class="h3 text-dark fst-italic fw-bold pt-3 px-3 pb-1">Featured tip 2</h3>
                <p class="tip-text px-3">Lorem ipsum von den bal of pe hu</p>
            </div>
            <div class="tip-item">
                <h3 class="h3 text-dark fst-italic fw-bold pt-3 px-3 pb-1">Featured tip 3</h3>
                <p class="tip-text px-3">Lorem ipsum von den bal of pe hu</p>
            </div>
            <div class="tip-item">
                <h3 class="h3 text-dark fst-italic fw-bold pt-3 px-3 pb-1">Featured tip 4</h3>
                <p class="tip-text px-3">Lorem ipsum von den bal of pe hu</p>
            </div>
            <div class="tip-item">
                <h3 class="h3 text-dark fst-italic fw-bold pt-3 px-3 pb-1">Featured tip 5</h3>
                <p class="tip-text px-3">Lorem ipsum von den bal of pe hu</p>
            </div>
        </div>
    </section>
</div>
